@import 'reset';
@import 'websitecolors';

.about-presentation {
    @extend %presentations;    
    background-image:url('/assets/images/night.jpg');
    background-position:100% 50%;      
}

.qualities-container {
    max-width:800px;
    display:flex;
    justify-content:space-around;


    .qualities {
        width:30%;
        box-sizing:border-box;
        padding:1em;
        background-color:rgba(0,0,0,0.6);
        text-align:center;
    }
}
