@import 'reset';
@import 'websitecolors';

.navbar {
    
    position:fixed;        
    text-align:center;    
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    z-index:2;    

    button {
        font-size:2em;
        color:$SeaGreen;
        background-color:$White;
        width:100%;
        padding:0.3em 0.5em;
        transition:all 0.2s ease-out;
        
        &:hover {
            color: $Prussian;
        }
    }

    ul {
        width:300px;
        padding:0;
        background-color:$White;
        list-style-type: none;
        margin:0;
        min-height:100vh;  
        display:none;         

        li {            
            padding:1em 0;

            a {
                text-decoration:none;    
                color:$Prussian;
                font-size:1.2em;
                transition:color 0.1s linear;

                &:hover {
                    color:$SeaGreen;
                }
            }
            
        }
    }
}