@import 'reset';
@import 'websitecolors';

%navborders {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4);
    background-color:$Light;
}

.navbar {    
    position:fixed;        
    z-index:2; 
    top:50%;
    left:0; 
    transform:translatey(-50%); 

    button {
        @extend %navborders;        
        font-size:2em;
        color:$SeaGreen;           
        width:2em;
        padding:0.3em 0.5em;
        transition:color 0.2s ease-out;
        
        &:hover {
            color: $Prussian;
        }
    }

    ul {
        @extend %navborders;
        width:200px;
        padding:0;       
        list-style-type: none;
        margin:0;       
        display:none;    
        z-index:1;    
        position:relative;  

        li {            
            padding:2em 0 2em 1em;
            position:relative;

            &:first-of-type {
                border-left: 10px solid $Prussian;
               
                &:before {
                    content:'';
                    position:absolute;
                    left:0;
                    top:0;
                    width:0;
                    height:100%;
                    transition:all 0.2s ease-out;
                    background-color: lighten($Prussian, 40%);
                    z-index:-1;
                }
                &:hover:before {
                    width:100%;
                }
            }

            &:nth-of-type(2) {
                border-left: 10px solid darken($SeaGreen, 15%);
                
                &:before {
                    content:'';
                    position:absolute;
                    left:0;
                    top:0;
                    width:0;
                    height:100%;
                    transition:all 0.2s ease-out;
                    background-color: $SeaGreen;
                    z-index:-1;
                }
                &:hover:before {
                    width:100%;
                }
            }

            &:nth-of-type(3) {
                border-left: 10px solid $Onyx;
                
                &:before {
                    content:'';
                    position:absolute;
                    left:0;
                    top:0;
                    width:0;
                    height:100%;
                    transition:all 0.2s ease-out;
                    background-color: lighten($Onyx, 40%);
                    z-index:-1;
                }
                &:hover:before {
                    width:100%;
                }
            }

            &:hover > a {
                color:$Gold;
            }

            a {
                text-decoration:none;    
                color:$Prussian;
                font-size:1.2em;
                transition:color 0.1s linear;      
                width:100%;
                height:100%;          
            }
            
        }
    }
}

.footer {
    background-color:$Light;

    p {
        color:rgba($Prussian, 0.7);
        margin:0;
        padding:1em;
    }
}