<div class = "about-presentation">
    <h1>M.V. Burlando is:</h1>
    <div class ="qualities-container">
        <div class ="qualities">
            <h2>Creative</h2>
            <p>For me , creativity is key to success. Without a creative mind no one 
            would be able to change the world.</p>
        </div>
        <div class ="qualities">
            <h2>Passionate</h2>
            <p>Passion and determination are the two leading factors for getting things done. 
            Talent is nothing if one doesn't have the drive to succeed.</p>
        </div>
        <div class ="qualities">
            <h2>Smart</h2>
            <p>I'm always raising my game when it comes to finding the best 
                and quickest way to solve a problem. This is why my quick wit helps me 
                complete a task with success.
            </p>
        </div>
    </div>
</div>
