<div class = "about-presentation">
<h1>M.V. Burlando is:</h1>

<div class ="qualities-container">

<div class ="qualities">
<h2>Creative</h2>
<p>Creativity is key to success. Without a creative mind no one 
will be able to change the world.</p>
</div>
<div class ="qualities">

<h2>Passionate</h2>
<p>Passion and determination are the two leading factors for getting things done. 
Talent is nothing if one doesn't have passion.</p>
</div>
<div class ="qualities">
<h2>Smart</h2>
<p>Intelligence is necessary to complement creativity. Without it,
creativity would smother. </p>

</div>


</div>
</div>
