<div class = "home-presentation">
	<h1>Welcome to M.V. Burlando's website!</h1>
	<hr/>
	<p>This website is written completely in Node.js Express using Handlebars and it's
going to host some pretty nice features. It's hosted on an EC2 instance running on AWS with a DNS registration at
Aruba using the domain name www.mvburlando.cloud.</p>
</div>
