html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

.home-presentation {
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #0D324D; }

#home-all {
  display: none; }

.hand-writing {
  width: 100%;
  height: 101vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 3; }
  .hand-writing div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translatey(-50%);
    width: 855px;
    height: 173px;
    background-size: cover;
    display: none; }

.home-presentation {
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.3), transparent), url("/assets/images/aurora.jpg");
  background-position: 50% 100%; }
  .home-presentation h1, .home-presentation p {
    max-width: 800px;
    text-align: center; }
  .home-presentation p {
    line-height: 1.5em;
    padding: 0 2em;
    box-sizing: border-box; }
  .home-presentation hr {
    max-width: 800px;
    border: none;
    height: 2px;
    width: 40%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0)); }

@media (min-width: 1600px) and (max-width: 2000px) {
  .hand-writing div {
    width: 1200px;
    height: 242px; } }

@media (max-width: 1000px) {
  .hand-writing div {
    width: 600px;
    height: 121px; } }

@media (max-width: 600px) {
  .hand-writing div {
    width: 300px;
    height: 60px; } }
